In [31]:
import pandas as pd
import numpy as np
from scipy import sparse
import random

In [32]:
inputfile = "C:\\Users\\thumm\\Documents\\machineLearning\\nlp\\data\\orcas.tsv"
data = pd.read_csv(inputfile, sep='\t', header=None)
data.columns = ['qid','query','did','doc']
data.head(3)

       qid    query       did                          doc
0  9265503   github  D1265400  https://desktop.github.com/
1  9265503   github  D3438005          https://github.com/
2  6832981  youtube  D2923232      https://au.youtube.com/

In [33]:
qids = data['qid'].unique()
dids = data['did'].unique()

In [35]:
qidsmap = dict()

for i in range(qids.shape[0]):
    qidsmap[qids[i]] = i

#print(qidsmap)

didsmap = dict()
for i in range(dids.shape[0]):
    didsmap[dids[i]] = i
#print(didsmap)

In [36]:
data['qidint'] = data.apply(lambda row : qidsmap[row['qid']], axis=1)
data['didint'] = data.apply(lambda row : didsmap[row['did']], axis=1)

In [37]:
data.head(3)

       qid    query       did                          doc  qidint  didint
0  9265503   github  D1265400  https://desktop.github.com/       0       0
1  9265503   github  D3438005          https://github.com/       0       1
2  6832981  youtube  D2923232      https://au.youtube.com/       1       2

In [26]:
a = data['qidint'].astype(str) + data['didint'].astype(str)

In [28]:
print(len(a.unique()))
print(len(data))

18823256
18823553

In [29]:
def sample_zero_forever(rows, cols, nonzero_or_sampled):
    while True:
        t = tuple([random.randrange(0, rows, 1), random.randrange(0, cols, 1)])
        if t not in nonzero_or_sampled:
            yield t
            nonzero_or_sampled.add(t)

In [38]:
dims = (data['qidint'].max(), data['didint'].max())
print(dims)

mat = sparse.csr_matrix((np.ones(data.shape[0]), (data['qidint'], data['didint'])))
#del data

rows = mat.shape[0]
cols = mat.shape[1]
nonzero_or_sampled = set(zip(*mat.nonzero()))
del mat
itr = sample_zero_forever(rows, cols, nonzero_or_sampled)
zeroedges = []

for _ in range(40000000):
    zeroedges.append(next(itr))

(10405321, 1422026)

In [47]:
q,d = zeroedges[1]
data[(data['qidint']==0) & (data['didint']==1)]

             qid   query       did                  doc  qidint  didint
1        9265503  github  D3438005  https://github.com/       0       1
6457999  9265503  github  D3438005  https://github.com/       0       1

In [49]:
data.drop_duplicates(inplace=True)

In [50]:
len(data)

18823283

In [52]:
nonedges = pd.DataFrame(zeroedges, columns=['qidint', 'didint'])
print(len(nonedges))
nonedges.drop_duplicates(inplace=True)
print(len(nonedges))

#nonedgesdata = pd.merge(nonedges, data, on=['qidint', 'didint'], how='inner')

40000000
40000000

In [59]:
queries = data[['qid', 'query', 'qidint']].drop_duplicates()
docs = data[['did', 'doc', 'didint']].drop_duplicates()

In [56]:
nonedges.head(3)

    qidint   didint
0  6362512  1005356
1  5815201   958336
2   473050  1096643

In [60]:
nonedgesdata1 = nonedges.merge(queries, on='qidint', how='inner')
nonedgesdata2 = nonedgesdata1.merge(docs, on='didint', how='inner')

In [61]:
nonedgesdata2.head(3)

,qidint,didint,qid,query,did,doc
0,6362512,1005356,10375130,non qualified deferred comp plan,D3419629,https://targetjobs.co.uk/careers-advice/job-de...
1,3073276,1005356,10697799,facts about bones,D3419629,https://targetjobs.co.uk/careers-advice/job-de...
2,7180121,1005356,5767772,ptsd handout,D3419629,https://targetjobs.co.uk/careers-advice/job-de...

In [69]:
data0 = nonedgesdata2[['qid','query','did','doc']].drop_duplicates()
data0['label'] = 0

data1 = data[['qid','query','did','doc']].drop_duplicates()
data1['label'] = 1

In [70]:
res = pd.concat([data0, data1], ignore_index=True)
res.head(3)

,qid,query,did,doc,label
0,10375130,non qualified deferred comp plan,D3419629,https://targetjobs.co.uk/careers-advice/job-de...,0
1,10697799,facts about bones,D3419629,https://targetjobs.co.uk/careers-advice/job-de...,0
2,5767772,ptsd handout,D3419629,https://targetjobs.co.uk/careers-advice/job-de...,0

In [72]:
print(len(res))
res = res.sample(frac=1).reset_index(drop=True)
print(res.head(10))

import os

os.makedirs('../../data/validation', exist_ok=True)

res.to_csv('../../data/validation/approx60M.tsv', sep='\t', index=False, header=False)

58823326
        qid                     query       did  \
0  11272549  caterpillar to butterfly  D3358478
1   2327436   dean martin thats amore  D1624588
2   9540010                    munbai  D2549898
3   4989404               dns 4.4.4.4  D1470300
4   4384371         anzac day service    D88043
5   4121834                   flirkin  D1006715
6  12522594       art deco definition  D2173622
7   4397811    amazon self-publishing  D2786796
8   6428478  airplane carry on liquid  D3559716
9  10049124   fair work notice period   D284442

                                                 doc  label
0  https://www.thebutterflysite.com/life-cycle.shtml      1
1        https://www.youtube.com/watch?v=OnFlx2Lnr9Q      1
2                http://www.india.com/travel/mumbai/      1
3  https://www.drweil.com/vitamins-supplements-he...      0
4            https://en.wikipedia.org/wiki/Anzac_Day      1
5        https://en.wikipedia.org/wiki/South_Pacific      0
6             http://www.imdb.com/name/nm0934008/bio      0
7  https://www.quora.com/Can-Starbucks-offer-thei...      0
8  http://www.ulta.com/infiniti-curling-wand-styl...      0
9  http://www.fairwork.gov.au/ending-employment/n...      1

In [91]:
temp = pd.read_csv('C:\\Users\\thumm\\Documents\\machineLearning\\nlp\\data\\validation\\splits\\approx60M_1.tsv', sep='\t', header=None)

In [92]:
temp.head()

,0,1,2,3,4
0,11272549,caterpillar to butterfly,D3358478,https://www.thebutterflysite.com/life-cycle.shtml,1
1,2327436,dean martin thats amore,D1624588,https://www.youtube.com/watch?v=OnFlx2Lnr9Q,1
2,9540010,munbai,D2549898,http://www.india.com/travel/mumbai/,1
3,4989404,dns 4.4.4.4,D1470300,https://www.drweil.com/vitamins-supplements-he...,0
4,4384371,anzac day service,D88043,https://en.wikipedia.org/wiki/Anzac_Day,1

In [93]:
temp[temp[0]==8998773]

,0,1,2,3,4
108832,8998773,http://www.w3.org/2000/svg\tD1224869\thttps://...,D619470,https://account.live.com/acsr,1

In [85]:
with open('C:\\Users\\thumm\\Documents\\machineLearning\\nlp\\data\\validation\\splits\\approx60M_1.tsv', 'r') as fp:
    fp.seek(10943398)
    for i in range(64):
        s = fp.readline().strip('\n\r')
        print(s)

8460983	madurensis calamondin	D615701	https://www.usatoday.com/story/money/columnist/brooks/2013/05/06/social-security-retirement-pension-401k/2132295/	0
8146901	eye chalazion treatment	D1192422	https://weather.com/weather/tenday/l/Ashland+AL+36251:4:US	0
7585151	san andras	D3279310	https://www.nytimes.com/2015/04/16/style/keeping-your-car-safe-from-electronic-thieves.html	0
2712820	college bowl game scores	D1229170	https://en.wikipedia.org/wiki/Time_in_Russia	0
10763058	kitchen faucets canada	D3230111	http://kmz.extensionfile.net/	0
4580505	how to get ear to pop	D440105	https://www.wikihow.com/Unpop-Your-Ears	1
7037161	phylums of animalia	D682972	https://en.wikipedia.org/wiki/NY_SAFE_Act	0
6246165	lunar eclispe	D1794903	https://support.tangohealth.com/hc/en-us/articles/220274528-IRS-HSA-Penalties	0
8428295	scott kelly astronaut divorce	D2367101	https://www.a-1truckschool.com/tuition/	0
3924331	fluid compartment	D1125306	http://antranik.org/fluid-compartments-within-the-human-body/	1
7714126	civil rule 26	D47425	https://www.law.cornell.edu/rules/frcp/rule_26	1
10897415	tidal jobs	D3001057	http://tidal.com/	1
6841021	words ending ly	D2303310	https://en.wikipedia.org/wiki/Solar_core	0
7257194	where do i find the wps pin on my hp printer	D2186438	https://support.google.com/youtube/answer/3037019?co=GENIE.Platform%3DAndroid&hl=en	0
3268511	expressed terms	D163524	http://www.makeuseof.com/tag/types-computer-viruses-watch/	0
2258022	elbys big boy	D1510481	http://www.bigboy.com/locations/	1
9672652	abdominal pain pregnancy	D109659	https://www.babycentre.co.uk/a204/abdominal-pain-in-pregnancy	1
11596048	obx marathon	D3426625	https://en.wikipedia.org/wiki/Illustra	0
2765211	a thousand winds	D552856	https://my.clevelandclinic.org/health/diseases/15225-achilles-tendon-injury---including-achilles-tendinitis-and-achilles-tendon-rupture	0
11938848	tempo lockheed	D2202871	http://www.lockheedmartin.com/us/employees.html	1
10381280	time zone for arkansas	D486070	https://en.wikipedia.org/wiki/Southern_flying_squirrel	0
12187864	what is a number bond	D1291534	http://www.answers.com/Q/How_old_do_you_have_to_be_to_get_into_a_r_rated_movie	0
9987987	www.droz.com	D1790954	https://www.britannica.com/place/Auschwitz	0
6622128	turbotax login help phone number	D98142	https://support.turbotax.intuit.com/contact/	1
11473441	view drives windows 10	D1322102	https://www.computerhope.com/issues/ch000854.htm	1
6027455	microstroke	D1577996	http://aynrandlexicon.com/lexicon/statism.html	0
10520103	movies on sling	D1124879	https://www.cntraveler.com/galleries/2015-03-19/best-beaches-in-india-beyond-goa	0
2778491	yokes pharmacy	D2226358	http://specialolympics.org/Sections/Who_We_Are/What_Is_Intellectual_Disability.aspx	0
3578965	ludwig van beethoven 5th symphony	D117803	https://en.wikipedia.org/wiki/Symphony_No._5_(Beethoven)	1
6032279	mixed number to improper fractions	D2599740	http://www.bbc.co.uk/bitesize/ks3/maths/number/fractions/revision/5/	1
5409450	what is considered a high fever in adults	D3549033	https://www.audioenglish.org/dictionary/orifice.htm	0
4747226	difference between simm and dimm	D2155708	https://www.rottentomatoes.com/m/scoobydoo_and_the_witchs_ghost/	0
8998773	"http://www.w3.org/2000/svg	D1224869	https://en.wikipedia.org/wiki/SVG
4120189	https://account.live.com/proofs/marklost"""	D619470	https://account.live.com/acsr	1
9254364	keto carbs	D2402908	https://www.perfectketo.com/how-many-carbs-on-keto/	1
6486131	pepsi sales	D1066588	http://www.pepsico.com/home/Contact	1
7819748	opioid effects on brain	D2630211	https://legal-dictionary.thefreedictionary.com/president	0
9639845	va beach va hotels	D2363651	https://www.hotels.com/de1508582/hotels-bolton-landing-new-york/	0
5958876	a midsummer's night dream sparknotes	D1305540	https://www.houselogic.com/organize-maintain/home-maintenance-tips/attic-insulation-savings/	0
9209478	bourbon alcohol	D2092901	http://www.socialstudiesforkids.com/articles/ushistory/13coloniesfarm.htm	0
7494427	did burt reynolds play on gunsmoke	D395745	https://www.thefreedictionary.com/spinster	0
11576182	bei ling	D1740874	http://www.imdb.com/name/nm0000499/	1
9556484	guardianship laws	D3382090	https://www.healthtap.com/topics/arcus-senilis-treatment	0
5818869	land for sale in potter county pa	D3330387	https://www.landwatch.com/Pennsylvania_land_for_sale/Potter_County	1
3290252	sql server 2016 os requirements	D1651032	https://www.wirecard.com/products/issuing/	0
9952504	heartland hatchery	D2070160	https://www.theguardian.com/technology/askjack/2010/oct/21/c-drive-d-drive-partitioning	0
10015286	who was hannibal	D2728703	http://sentence.yourdictionary.com/wording	0
12006715	human body lungs	D1247901	https://en.wikipedia.org/wiki/Grand_staff	0
6275045	anglo saxon jobs ks2	D3063960	https://www.esouniverse.com/guides/crafting/provisioning/	0
7997660	scientific notation to standard calculator	D1981870	https://quizlet.com/17070231/psych-101-quizes-flash-cards/	0
3101876	kezboard language	D2795658	https://www.conversationexchange.com/resources/keyboard-language.php	1
8599900	southwest airlin	D154375	https://www.southwest.com/flight/	1
6879511	face to face examples for home health	D274495	https://americanexcelsior.com/erosion-control/	0
7169197	fairly oddparents cast	D2645146	https://en.wikipedia.org/wiki/Pine_Lake,_Wisconsin	0
9912001	math major careers	D1522461	http://www.nydailynews.com/news/national/smith-shooting-suspect-football-player-article-1.2595293	0
3895041	google fi with iphone	D107145	http://www.thefreedictionary.com/audible	0
11411832	gulfport mississippi navy base	D3354142	http://www.kids.esdb.bg/naturalgas.html	0
10578663	dmv nevada	D3055105	http://www.dmvnv.com/dashpass.htm	1
7653579	meme generator online	D873454	https://memegenerator.net/	1
11685618	mycollingwood.ca	D1282282	http://www.collingwood.ca/	1
10734786	friedrich trump bio	D725379	https://www.mapquest.com/us/tx/winnsboro-282037319	0
8623071	native american culture and traditions	D2943627	https://en.wikipedia.org/wiki/Affiliated_company	0
9363734	time now in illinois	D1362672	https://www.timeanddate.com/worldclock/usa/chicago	1
6674352	purpose of the gallbladder	D1203152	http://www.hipaasurvivalguide.com/hipaa-regulations/164-501.php	0

In [75]:
with open('../../data/validation/approx60M.tsv', 'r', encoding = 'utf-8') as fp:
    print(fp.readline())

11272549	caterpillar to butterfly	D3358478	https://www.thebutterflysite.com/life-cycle.shtml	1

In [80]:
from filesplit.split import Split
os.makedirs('../../data/validation/splits/', exist_ok=True)
split = Split('../../data/validation/approx60M.tsv', '../../data/validation/splits/')
partition_size = os.path.getsize(inputfile) / 50
split.bysize(partition_size, newline=True)

In [77]:
!pip install filesplit

Collecting filesplit
  Using cached filesplit-4.0.1-py3-none-any.whl (9.2 kB)
Installing collected packages: filesplit
Successfully installed filesplit-4.0.1